/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.l_page .intro-bg img {
	height: 100vh;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.l_main_subtitle {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-family: 'MuseoSansCyrl-300', sans-serif;
	font-size: 35px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	padding-bottom: 38px;
	margin-bottom: 40px;
	position: relative;
}
.l_main_subtitle::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 126px;
	height: 1px;
	background: #fff;
}
.gradient_bg {
	background: url("../images/bg_color.png") no-repeat center center;
	background-size: cover;
	padding: 150px 0 220px;
}
.l_representatives_list .l_title {
	margin-bottom: 110px;
}
.l_representatives_list {
	background: url("../images/big_bg_color.png") no-repeat center center;
	background-size: cover;
}
.l_side-info {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	color: #fff;
}
.l_main_title {
	white-space: nowrap;
	color: #ffffff;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: .3em;
	text-align: center;
	text-transform: uppercase;
}
.l_head-years,
.l_head-name{
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.l_head-years {
	font-family: MuseoSansCyrl-700, sans-serif;
}
.l_page .country:not(:last-of-type) .cc-right,
.l_page .country:not(:last-of-type) .cc-left{
	padding-bottom: 100px;
}
.l_side-title {
	height: 17px;
	color: #846e7b;
	margin-bottom: 40px;
	font-family: MuseoSansCyrl-700, sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 2.6px;
	line-height: 24px;
	text-align: left;
	text-transform: uppercase;
}
.lr-headsofstate-list.l_representatives_list .country-content,
.lr-headsofstate-list.l_representatives_list .country {
	padding: 0;
}
.l_side-content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0;
}

.l_title--light,
.ch-title--light {
	color: #fff;
}
.l_ideas {
	background: #f4f4f4;
	padding-top: 150px;
	padding-bottom: 150px;
}
.l_title--ss {
	width: 780px;
	margin: 0 auto 20px;
	color: #3c3d43;
	font-family: "MuseoSansCyrl-700", sans-serif;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4.2px;
}
.l_title {
	color: #fff;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	margin-bottom: 28px;
	text-transform: none;
	letter-spacing: normal;
}

p.l_subtitle:not(:last-child),
p.l_subtitle
{
	color: #8a8a8a;
	font-family: "MuseoSansCyrl-500", sans-serif;
	display: block;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: normal;
	line-height: 26px;
	text-align: center;
	margin-bottom: 80px;
}

.l_text p{
	font-family: "MuseoSansCyrl-500", sans-serif;
	color: #fff;
	font-weight: 400;
	text-align: left;
}

.l_grid {
	margin: auto;
	width: 1040px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 15px;
}

.l_grid_item {
	width: 270px;
	height: 370px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding: 208px 50px 50px;
	background-image: url("../images/icons/social_vs_christian.png");
	background-repeat: no-repeat;
	background-position: top 92px center;
	background-size: auto;

	color: #3c3d43;
	font-family: "RotisSerifW1G-Regular", sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;

	-webkit-transition: all .15s linear;
	transition: all .15s linear;
}
.l_grid_item:hover
{
	background-color: #e5e5e5;
	border-color: #e5e5e5;
}
.l_grid_item:active,
.l_grid_item:focus {
	outline: none;
}
.l_grid_item:nth-child(6),
.l_grid_item:nth-child(2) {
	padding: 208px 42px 50px;
}
.l_grid_item:nth-child(2),
.l_grid_item:nth-child(4),
.l_grid_item:nth-child(5),
.l_grid_item:nth-child(7),
.l_grid_item:nth-child(10),
.l_grid_item:nth-child(12),
.l_grid_item:nth-child(13),
.l_grid_item:nth-child(15) {
	background-image: url("../images/icons/social_vs_christian_mono.png");
}
.l_grid_item:nth-child(3),
.l_grid_item:nth-child(7),
.l_grid_item:nth-child(11),
.l_grid_item:nth-child(13),
.l_grid_item:nth-child(15),
.l_grid_item:nth-child(16) {
	padding: 208px 29px 50px;
}

.l_finger_img {
	width: 524px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}
.l_finger_img svg{
	width: 524px;
	height: 600px;
	margin: 0 auto;
}

.l_finger_btn {
	background: transparent;
	position: absolute;
	border: none;
	border-radius: 40px;
	width: 150px;
	height: 60px;
	font-size: 16px;
}
.l_finger_btn:focus,
.l_finger_btn:active {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.l_finger_btn  span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	opacity: 0;
	background: url("../images/shadow.png") center center no-repeat;
	background-size: contain;
	color: #3c3d43;
	font-size: 16px;
	line-height: 1;
	font-family: MuseoSansCyrl-900, sans-serif;
	-webkit-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.l_finger_btn:nth-child(2) span
{
	margin-left: -30px;
}
.l_finger_btn span.red  {
	color: #d03b3e;
}
.l_finger_btn:hover {
	z-index: 10;
}
.l_finger_btn:hover  span {
	width: 120px;
	height: 80px;
	opacity: 1;
}

.l_finger_btn_1 {
	top: 115px;
	left: 44px;
	-webkit-transform: rotate(71deg);
	-ms-transform: rotate(71deg);
	transform: rotate(71deg);
}
.l_finger_btn_1 span {
	-webkit-transform:  translate(-50%, -50%) rotate(-71deg);
	-ms-transform:  translate(-50%, -50%) rotate(-71deg);
	transform:  translate(-50%, -50%) rotate(-71deg);
}
.l_finger_btn_2 {
	top: 74px;
	left: 90px;
	height: 76px;
	width: 185px;
	-webkit-transform: rotate(79deg);
	-ms-transform: rotate(79deg);
	transform: rotate(79deg);
}
.l_finger_btn_2 span {
	-webkit-transform:  translate(-50%, -50%) rotate(-79deg);
	-ms-transform:  translate(-50%, -50%) rotate(-79deg);
	transform:  translate(-50%, -50%) rotate(-79deg);
}
.l_finger_btn_3 {
	top: 49px;
	left: 180px;
	height: 95px;
	width: 186px;
	-webkit-transform: rotate(91deg);
	-ms-transform: rotate(91deg);
	transform: rotate(91deg);
}
.l_finger_btn_3 span {
	-webkit-transform:  translate(-50%, -50%) rotate(-91deg);
	-ms-transform:  translate(-50%, -50%) rotate(-91deg);
	transform:  translate(-50%, -50%) rotate(-91deg);
}
.l_finger_btn_4 {
	top: 24px;
	left: 324px;
	height: 106px;
	width: 105px;
	-webkit-transform: rotate(105deg);
	-ms-transform: rotate(105deg);
	transform: rotate(105deg);
}
.l_finger_btn_4 span {
	-webkit-transform:  translate(-50%, -50%) rotate(-105deg);
	-ms-transform:  translate(-50%, -50%) rotate(-105deg);
	transform:  translate(-50%, -50%) rotate(-105deg);
}
.l_finger_btn_5 {
	top: 115px;
	left: 233px;
	height: 88px;
	width: 212px;
	border-radius: 40px;
	-webkit-transform: rotate(-23deg);
	-ms-transform: rotate(-23deg);
	transform: rotate(-23deg);
}
.l_finger_btn_5 span {
	-webkit-transform:  translate(-50%, -50%) rotate(23deg);
	-ms-transform:  translate(-50%, -50%) rotate(23deg);
	transform:  translate(-50%, -50%) rotate(23deg);
}

.fingers_content,
.ideas_content,
.evolution_content {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.lr-popup.l_popup_dark {
	background-color: rgba(60,61,67,0.8);
}

.l_popup_dark .lrp-inner{
	width: 800px;
	height: 470px;
	background-color: #3c3d43;
	padding: 50px 32px 63px 63px;
	border-radius: 5px;
	position: relative;
}
.l_page .lr-popup .lrp-content
{
	/*max-width: none;*/
}
.l_page .lr-popup .lrp-content .popup_text
{
	padding-right: 50px;
}

.evolution_title,
.fingers_title,
.ideas_title
{
	max-width: 400px;
	opacity: 0.5;
	color: #ffffff;
	font-family: RotisSerifW1G-Bold, sans-serif;
	font-size: 22px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: 26px;
	text-align: center;
	margin: 0 auto 34px;
	padding-bottom: 15px;
	position: relative;
	text-transform: none;
}
.ideas_title
{
	text-transform: none;
}
.evolution_title::after,
.fingers_title:after,
.ideas_title::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 82px;
	height: 3px;
	background-color: #d03b3e;
}
.l_fist_text {
	color: #846e7b;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 24px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 32px;
	text-align: center;
	margin-top: 32px;
}
.fingers_text,
.ideas_text,
.evolution_text
{
	max-height: 260px;
}
.evolution_text
{
	max-height: 200px;
	padding-bottom: 40px !important;
	box-sizing: border-box;
	padding-right: 20px;
}
.evolution_text,
.fingers_text,
.ideas_text {
	color: #ffffff;
	font-family: MuseoSansCyrl-300, sans-serif;
	font-size: 16px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 22px;
	text-align: left;
	height: inherit;
	padding-right: 15px;
	padding-bottom: 40px;
}
.evolution_text
{
	padding-bottom: 0;
	padding-right: 0;
}
.l_popup_light .lrp-inner a:hover {
	text-decoration: none;
	color: #36373c;
	opacity: 0.7;
}
.l_grid_table_mobile {
	display: none;
}
.l_popup_light .lrp-inner  {
	border-radius: 5px;
}
.l_popup_light .lrp-inner li:before {
	content: '- ';
}
.l_popup_light .lrp-inner  h4.evolution_title {
	font-size: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
	font-family: "MuseoSansCyrl-500", sans-serif;
}
.l_popup_light .lrp-inner ul {
	list-style-type: initial;
}
.l_popup_light .lrp-inner p,
.l_popup_light .lrp-inner h2,
.l_popup_light .lrp-inner h4,
.l_popup_light .lrp-inner ul {
	color: #36373c;
}
.l_representatives_list:before {
	content: '';
	position: absolute;
	top: -6px;
	right:  0;
	width: 100%;
	height: 76px;
	background-image: url('../images/bg_small_line_2.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
}
.l_popup_light  .nicescroll-rails {
	width: 1px !important;
	background: #3c3d43 !important;
	opacity: 0.5;
}
.l_popup_light .lrp-inner h4:after {
	content: none;
	padding-bottom: 0;
}
.l_popup_light .lrp-inner::after,
.l_popup_dark .lrp-inner::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 130px;
	z-index: 10;
}
.l_popup_light .lrp-inner::after {
	height: 80px;
	background: -webkit-gradient(
		linear,
		left bottom, left top,
		color-stop(10%, rgba(255,255,255,1)),
		color-stop(36%, rgba(255,255,255,1)),
		color-stop(60%, rgba(255,255,255,0.6)),
		to(rgba(255,255,255,0)));
	background: -o-linear-gradient(
		bottom,
		rgba(255,255,255,1) 10%,
		rgba(255,255,255,1) 36%,
		rgba(255,255,255,0.6) 60%,
		rgba(255,255,255,0) 100%);
	background: linear-gradient(
		0deg,
		rgba(255,255,255,1) 10%,
		rgba(255,255,255,1) 36%,
		rgba(255,255,255,0.6) 60%,
		rgba(255,255,255,0) 100%);
}
.l_popup_dark .lrp-inner::after {
	background-image: url('../images/popup_bottom_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}
.l_evolution em,
.l_evolution p {
	color: #3c3d43;
}
.l_evolution .l_title {
	color: #3c3d43;
	font-family: "RotisSerifW1G-Bold", sans-serif;
	font-size: 40px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 1.2;
	text-align: center;
}
.evolution_text em,
.fingers_text em,
.ideas_text em{
	color: #ffffff;
	font-family: MuseoSansCyrl-300Italic, sans-serif;
	font-size: 16px;
	font-style: normal;
	letter-spacing: normal;
	line-height: 22px;
	text-align: left;
}
.evolution_text em {
	color: #3c3d43;
}

.l_page .nicescroll-cursors {
	width: 5px !important;
	background-color: #6d6e72 !important;
	right: -2px !important;
	border: none !important;
}
.l_popup_dark .nicescroll-rails {
	width: 1px !important;
	/*height: 270px !important;important*/
	background-color: #ffffff !important;
	opacity: 0.5 !important;
}
.evolution_title {
	max-width: none;
	font-size: 36px;
	width: initial;
	opacity: 1;
	color: #3c3d43;
	text-transform: none;
	line-height: 26px;
	text-align: center;
	margin: 0 auto 29px;
	padding-bottom: 44px;
	position: relative;
}
.evolution_links {
	margin-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	color: #3c3d43;
	font-size: 20px;
	line-height: 22px;
}
.l_popup_light .evolution_link {
	text-align: center;
	display: inline-block;
	color: #3c3d43;
	font-size: 20px;
	line-height: 22px;
	font-family: "MuseoSansCyrl-500", sans-serif;
	opacity: 1 !important;
	margin-right: 4px;
}
.l_evolution .l_title--ss {
	margin-bottom: 40px;
}
.l_evolution .l_title {
	margin-top: 100px;
	margin-bottom: 5px;
}
.l_evolution p.l_subtitle:not(:last-child)
{
	margin-bottom: 50px;
}
.l_evolution {
	padding: 150px 0;
	position: relative;
	overflow: hidden;
}

.l_grid_btn {
	background: #f4f4f4;
	border: 1px solid #e5e5e5;
	width: 100%;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	position: relative;
}
.l_grid_btn:focus {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.l_grid_btn:hover {
	background: #e5e9e5;
}

.arrow_bottom {
	height: 15px;
	width: 1px;
	background: #36373c;
	position: absolute;
	top: 100%;
}
.arrow_right {
	height: 1px;
	width: 15px;
	background: #36373c;
	position: absolute;
	top: 50%;
	left: 100%;
}
.arrow_left {
	height: 1px;
	width: 15px;
	background: #36373c;
	position: absolute;
	top: 50%;
	right: 100%;
}
.small_start {
	background: #36373c;
	width: 1px;
	height: 8px;
	position: absolute;
	top: 100%;
	left: 20%;
}
.small_start_2 {
	left: 40%;
	height: 12px;
}
.small_start_3 {
	left: 60%;
	height: 12px;
}
.small_start_4 {
	left: 80%;
}
.arrow_left--bottom {
	top: initial;
	bottom: 20%;
}
.arrow_right.arrow_long {
	width: 230px;
}
.arrow_mirror:before {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid  #36373c;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	top: -6px;
	left: -6px;
}
.arrow_right:after {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid  #36373c;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	position: absolute;
	right: -6px;
	top: -6px;
}
.arrow_left:after {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid  #36373c;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
	position: absolute;
	top: -6px;
	left: -6px;
}
.arrow_bottom:after {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid  #36373c;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	bottom: -6px;
	left: -6px;
}
.arrow_top {
	height: 15px;
	width: 1px;
	background: #36373c;
	position: absolute;
	top: 100%;
}
.small_start_5 {
	width: 8px;
	height: 1px;
	left: 100%;
	right: initial;
	bottom: initial;
	top: 20%;
}
.arrow_top:after {
	content: '';
	width: 0;
	height: 0;
	border: 6px solid  #36373c;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	top: -6px;
	left: -6px;
}
.arrow_bottom_1 {
	left: 80px;
}
.arrow_bottom_old-left.arrow_bottom_small {
	height: 11px;
}
.arrow_bottom_2 {
	right: 80px;
}
.arrow_bottom_center {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.arrow_around_1 {
	z-index: -1;
	position: absolute;
	top: calc(100% + 8px);
	width: 53px;
	height: 107px;
	right: calc(100% - 29px);
	border: 1px solid #36373c;
	border-right: none;
}
.arrow_around_2 {
	z-index: -1;
	position: absolute;
	top: calc(100% + 12px);
	width: 70px;
	height: 215px;
	right: calc(100% - 58px);
	border: 1px solid #36373c;
	border-right: none;
}
.arrow_around_3 {
	z-index: -1;
	position: absolute;
	top: calc(100% + 8px);
	width: 505px;
	height: 1px;
	left: 80%;
	background: #36373c;
}
.arrow_around_4 {
	z-index: -1;
	top: calc(100% + 12px);
	width: 62px;
	height: 103px;
	border: 1px solid #36373c;
	border-left: none;
	border-bottom: none;
	position: absolute;
	left: 60%;
}
.arrow_around_5 {
	z-index: -1;
	position: absolute;
	top: calc(100% + 4px);
	left: -12px;
	width: 500px;
	height: 1px;
	background: #36373c;
}
.arrow_around_6 {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: -7px;
	width: 1px;
	height: 112px;
	background: #36373c;
}
.arrow_around_7 {
	z-index: -1;
	position: absolute;
	top: -8px;
	left: -8px;
	width: 108%;
	height: 28px;
	border: 1px solid #36373c;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
.arrow_around_8 {
	z-index: -1;
	position: absolute;
	top: -12px;
	left: -8px;
	width: 105%;
	height: 41px;
	border: 1px solid #36373c;
	border-bottom-color: transparent;
}
.arrow_right_small {
	z-index: -1;
	width: 8px;
	left: calc(100% + 8px);
}
.arrow_right_bottom {
	z-index: -1;
	top: initial;
	bottom: 20%;
}
.arrow_bottom_marxizm {
	z-index: -1;
	left: 57px;
	top: calc(100% + 7px);
	height: 10px;
}
.arrow_bottom_long {
	height: 125px;
	left: 50%;
}
#ev_7 .arrow_left_small {
	width: 10px;
	left: 100%;
	right: initial;
}
.l_grid_btn_13 .arrow_bottom_small.arrow_bottom_3 {
	height: 8px;
	right: initial;
	left: 41px;
}
.l_grid_btn_13 .arrow_bottom_small.arrow_bottom_2 {
	height: 10px;
	right: initial;
	left: -5px;
	top: calc(100% + 8px);
}
.l_grid_btn_5 .small_start_1 {
	width: 7px;
	height: 1px;
	position: absolute;
	background: #36373c;
	right: 100%;
	left: initial;
	top: 50%;
}
.l_grid_btn_5 .arrow_bottom_old-left {
	left: 488px;
}
.arrow_bottom_old-left {
	left: 29px;
	top: calc(100% + 4px);
}
.l_page button,
.l_page a {
	cursor: pointer;
}
.l_grid_btn--accent {
	background: #96376f;
	color: #fff;
	font-family: "MuseoSansCyrl-900", sans-serif;
	font-size: 18px;
}
.l_grid_table {
	position: relative;
	display: -ms-grid;
	display: grid;
	grid-gap: 15px;
	grid-template-areas:
		"header header "
		"aside main "
		"aside main "
		"aside main "
		"aside main "
		"footer footer ";
}
.l_grid_table--header .l_grid_btn {
	position: relative;
	background: #96376f;
	min-height: 95px;
	width: calc(100% / 2 - 8px);
	color: #ffffff;
	font-family: "MuseoSansCyrl-900", sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1.8px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
}
.l_grid_table--header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	grid-area: header;
}
.l_grid_table--aside .l_grid_btn {
	min-height: 95px;
	margin-bottom: 15px;
}
.l_grid_table--main-right {
	-ms-flex-preferred-size: calc(100% - 15px - 200px);
	flex-basis: calc(100% - 15px - 200px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.l_grid_table--main-left {
	-ms-flex-preferred-size: 200px;
	flex-basis: 200px;
}
.l_grid_btn_12,
.l_grid_btn_13,
.l_grid_btn_14 {
	height: 58px;
	-ms-flex-preferred-size: calc((100% - 30px) / 3);
	flex-basis: calc((100% - 30px) / 3);
}
.l_grid_btn_10,
.l_grid_btn_11,
.l_grid_btn_9,
.l_grid_btn_8 {
	-ms-flex-preferred-size: calc((100% - 15px) /2);
	flex-basis: calc((100% - 15px) /2);
	height: 58px;
	margin-bottom: 15px;
}
.l_grid_table--aside  {
	-ms-grid-row: 3;
	-ms-grid-row-span: 7;
	-ms-grid-column: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-area: aside; }
.l_grid_table--main .l_grid_btn {
	min-height: 40px;
}
.l_grid_table--main {
	-ms-grid-row: 3;
	-ms-grid-row-span: 7;
	-ms-grid-column: 3;
	grid-area: main;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.l_grid_table--main-bottom {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 14px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.l_grid_btn_5 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	height: 95px;
	margin-bottom: 15px;
}
.l_grid_btn_6,
.l_grid_btn_7 {
	-ms-flex-preferred-size: calc((100% - 15px) / 2);
	flex-basis: calc((100% - 15px) / 2);
	height: 95px;
}
.l_grid_btn_9 {
	right: 0;
	top: 0;
}
.l_grid_btn_1,
.l_grid_btn_2,
.l_grid_btn_3 {
	height: 40px;
	margin-bottom: 15px;
}
.l_grid_btn_4 {
	height: 40px;
}
.l_grid_btn_5 {
	grid-area: l_grid_btn_5; }
.l_grid_btn_6 {
	grid-area: l_grid_btn_6; }
.l_grid_btn_7 {
	grid-area: l_grid_btn_7; }
.l_grid_btn_8 {
	grid-area: l_grid_btn_8; }
.l_grid_btn_9 {
	grid-area: l_grid_btn_9; }
.l_grid_btn_10 {
	grid-area: l_grid_btn_10; }
.l_grid_btn_11 {
	grid-area: l_grid_btn_11; }
.l_grid_btn_12 {
	grid-area: l_grid_btn_12; }
.l_grid_btn_13 {
	grid-area: l_grid_btn_13; }
.l_grid_btn_14 {
	grid-area: l_grid_btn_14; }
.l_grid_table--footer .l_grid_btn {
	min-height: 95px;
	margin-bottom: 15px;
}
.l_grid_table--aside .l_grid_btn:last-of-type {
	margin-bottom: 0;
}
.l_grid_table--footer {
	-ms-grid-row: 11;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-area: footer; }

.l_page .lr-intro .intro-content {
	-webkit-transform: translateY(-20%) translateX(-50%);
	-ms-transform: translateY(-20%) translateX(-50%);
	transform: translateY(-20%) translateX(-50%);
}
/*straps*/
.l_page .lr-container {
	padding: 0 135px;
}
.l_fingers,
.l_representatives_list {
	padding: 150px 0;
}
.l_page .lr-headsofstate-list .country .country-content .cc-right {
	border-left: 1px solid #96376f;
}
.l_title--ss--light{
	color: #fff;
}
.l_page .lr-analysis {
	position: relative;
}
.l_page .lr-headsofstate-list .country .country-content .cc-left {
	padding: 0 65px 110px 0;
}
.l_page .lr-headsofstate-list .country .country-content .cc-right {
	padding: 0 0 110px 65px;
}
.l_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(n) .head-img,
.l_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(n) {
	margin-right: 0;
	max-width: 135px;
}
.l_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(5),
.l_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(4),
.l_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(-n+2) {
	margin-right: 42px;
}
.l_page .lr-analysis:before {
	content: '';
	background: url('../images/bg_small_line.svg') no-repeat right bottom;
	left: 0;
	top: initial;
	width: 100%;
	height: 68px;
	bottom: -2px;
	position: absolute;
	z-index: 1;
	background-size: contain;
}

.l_page .lr-analysis .lr-container:after {
	content: none;
}


.l_page .l-evolution:after,
.l_page .l_representatives_list:after,
.l_page .l_representatives_list:before,
.l_page .lr-analysis:after {
	top: 428px;
	left: initial;
	bottom: initial;
	right: 190px;
	content: '';
	position: absolute;
	width: 248px;
	height: 580px;
	background: url(../img/lr-lines.png) no-repeat center;
	background-size: contain;
	z-index: 5
}

.l_page .l-evolution:after{
	top: 200px;
	bottom: initial;
	left: 100px;
}

.l_page .l_representatives_list:after {
	left: 100px;
	right: initial;
	top: 75%;
}
.l_page .l_representatives_list:before {
	left: initial;
	right: 100px;
	top: 20%;
}
.lr-footer:before
{
	background: url(../img/footer-plank-white.png) no-repeat right bottom;
	background-size: auto 100%;
}

.lr-popup .lrp-inner
{
	padding-right: 32px;
}
.l_page .lr-popup .lrp-content .popup_text
{
	padding-right: 90px;
}


@media (max-width: 1800px) {
	.l_title, .l_evolution .l_title
	{
		font-size: 30px;
	}
	.l_title--ss{
		letter-spacing: 3px;
	}
	.l_side-title{
		max-width: none;
		width: auto;
	}


}
@media (max-width: 1519px) {
	.l_title--ss {
		width: auto;
		font-size: 23px;
		line-height: 1.6;
	}
	.l_evolution,
	.l_fingers,
	.l_representatives_list {
		padding: 80px 0;
	}
	.l_page {
		overflow: hidden;
	}
	.l_page .lr-container {
		padding: 0 80px;
	}
	.l_page .lr-analysis:before {
		background-position:  300px  0;
		bottom: -23px;
	}
	.l_page .l-evolution:after,
	.l_page .l_representatives_list:after,
	.l_page .l_representatives_list:before,
	.l_page .lr-analysis:after {
		width: 200px;
		height: 400px;
	}
	.l_page .lr-analysis:after {
		right: -60px;
	}

	.l_page .l-evolution:after{
		left: -60px;
	}

	.l_page .l_representatives_list:after {
		left: -60px;
	}
	.l_page .l_representatives_list:before {
		right: -60px;
	}
	.l_side-title{
		font-size: 16px;
		letter-spacing: 1.8px;
	}

}
@media (max-width: 1360px) {
	.l_representatives_list:before {
		height: 66px;
	}
	.l_page .lr-container {
		width: 1000px;
	}
	.l_fingers {
		padding: 80px 0;
	}
	.l_grid {
		width: 840px;
		-ms-grid-columns: 1fr 15px 1fr 15px 1fr;
		grid-template-columns: repeat(3, 1fr);
	}
	.arrow_around_8 {
		width: 107%;
	}
	.arrow_around_3 {
		width: 462px;
	}
	.arrow_around_4 {
		width: 63px;
	}
}
@media (max-width: 1200px) {
	.l_page .lrp-inner::after {
		bottom: 0;
		height: 110px;
	}
	.evolution_text, .fingers_text, .ideas_text {
		max-height: 230px;
	}
	.gradient_bg {
		padding: 80px 80px 130px;
	}
	.l_representatives_list,
	.l_page .lr-container {
		width: 100%;
	}
	.l_representatives_list:before {
		height: 50px;
	}

	.l_grid_item {
		background-image: url("../images/icons/social_vs_christian_mono.png");
	}
	.l_grid_item:nth-child(2),
	.l_grid_item:nth-child(4),
	.l_grid_item:nth-child(6),
	.l_grid_item:nth-child(8),
	.l_grid_item:nth-child(10),
	.l_grid_item:nth-child(12),
	.l_grid_item:nth-child(14),
	.l_grid_item:nth-child(16) {
		background-image: url("../images/icons/social_vs_christian.png");
	}
	.l_page .lr-analysis:after {
		right: -70px;
	}

	section {
		overflow: hidden;
	}
}
@media (max-width: 1024px) {
	.l_page .l-evolution:after,
	.l_page .l_representatives_list:after,
	.l_page .l_representatives_list:before,
	.l_page .lr-analysis:after {
		content: none;
	}

	.l_page .lr-popup .lrp-content .popup_text
	{
		padding-right: 20px;
	}
}
@media (max-width: 991px) {
	.arrow_around_3 {
		width: 258%;
	}
	.arrow_around_8 {
		width: 109%;
	}
	.arrow_around_2 {
		width: 64px;
	}
	.arrow_around_1 {
		width: 40px;
	}
	.l_representatives_list .l_title {
		margin-bottom: 40px;
	}
	.l_side-title{
		padding-top: 30px;
	}
	.l_representatives_list:before {
		height: 30px;
		left: 40%;
		right: initial;
	}
	.l_page .lr-headsofstate-list .country .country-content .cc-left {
		padding-right: 0;
		padding-bottom: 80px;
	}
	.l_page .lr-headsofstate-list .country .country-content .cc-right {
		border-left: none;
		padding-bottom: 80px;
		padding-left: 0;
	}
	.l_fist_text {
		font-size: 18px;
	}
	.l_main_subtitle {
		font-size: 26px;
		padding-bottom: 20px;
		margin-bottom: 28px;
	}
	.l_page .lr-analysis:before {
		height: 30px;
	}
	.l_page .lr-analysis:after {
		content: none;
	}
	.l_main_title {
		font-size: 50px;
	}
	.l_fingers {
		padding: 50px 0;
	}
	.l_fingers .lr-container  {
		padding: 0 20px;
	}
	.l_page .lr-container {
		padding: 0 20px;
	}
	.l_page .lrp-inner {
		width: 70%;
		margin: auto;
		padding: 70px 30px;
	}
	.l_page .lrp-inner .lrp-content {
		width: 100%;
		max-width: initial;
	}
	.evolution_title, .fingers_title, .ideas_title {
		font-size: 20px;
		width: auto;
	}

	.l_grid {
		width: 610px;
		-ms-grid-columns: 1fr 15px 1fr;
		grid-template-columns: repeat(2, 1fr);
	}
	.l_grid_item:nth-child(4),
	.l_grid_item {
		background-image: url("../images/icons/social_vs_christian_mono.png");

	}
	.l_grid_item:nth-child(2),
	.l_grid_item:nth-child(3),
	.l_grid_item:nth-child(6),
	.l_grid_item:nth-child(7),
	.l_grid_item:nth-child(10),
	.l_grid_item:nth-child(11),
	.l_grid_item:nth-child(14),
	.l_grid_item:nth-child(15) {
		background-image: url("../images/icons/social_vs_christian.png");
	}
	.l_ideas {
		padding: 50px 0;
	}
	.gradient_bg {
		padding: 50px 20px;
	}
	.l_page .lr-white h2 {
		margin-bottom: 26px;
	}
	.l_text p {
		font-size: 18px;
		line-height: 26px;
	}
}
@media (max-width: 768px) {
	.l_grid_table {
		display: none;
	}

	.l_evolution .l_title {
		font-size: 32px;
		line-height: 1.2;
	}
	.l_grid_table_mobile {
		width: 321px;
		margin: 0 auto 50px;
		display: -ms-grid;
		display: grid;
		grid-gap: 15px;
		max-width: 100%;
		grid-template-areas:
			"prosv prosv prosv romantic romantic"
			"utsotc dotchfil dotchfil dotchfil lifefil"
			"marx  gegel gegel anarh anarh"
			"marx  fabian fabian revision revision"
			"marx  . evolut  evolut evolut"
			"oldleft . existents teologic teologic"
			"avtMarx . evangelizm  psiho psiho"
			"neomarx neomarx neomarx neomarx neomarx"
			"newleft newleft . postfil postfil"
			"postmodern postmodern postmodern postmodern postmodern";
	}
	.evolution_title {}
	.l_grid_btn > span  {
		z-index: -1;
	}
	.l_grid_btn {
		padding: 0;
		position: relative;
		z-index: 1;
		margin-bottom: 15px;
		min-height: 55px;
		height: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		width: 100%;
		line-height: 1;
		font-size: 14px;
	}
	.arrow_bottom_1 {
		left: 40px;
	}
	.arrow_bottom_2 {
		right: 40px;
	}
	.arrow_around_1 {
		width: 32%;
		height: 128px;
		right: 80%;
	}
	.arrow_around_2 {
		width: 59%;
		height: 378px;
		right: 59%;
		z-index: 0;
		border-bottom: none;
	}
	.arrow_around_4 {
		width: 48%;
		height: 173px;
	}
	.arrow_around_3 {
		width: calc(100vw - 49px - 80%);
		height: 215px;
		background: transparent;
		border: 1px solid #36373c;
		border-left: none;
		border-bottom: none;
	}
	.arrow_around_4:after {
		content: '';
		width: 0;
		height: 0;
		border: 6px solid  #36373c;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		position: absolute;
		bottom: -6px;
		right: -6px
	}
	.arrow_around_8 {
		position: absolute;
		top: 35px;
		left: -9px;
		width: 9px;
		height: 172px;
		border: 1px solid #36373c;
		border-right-color:  transparent;
	}
	.arrow_around_8:after {
		content: '';
		width: 0;
		height: 0;
		border: 6px solid  #36373c;
		border-bottom-color: transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		position: absolute;
		bottom: -6px;
		right: -7px
	}
	.arrow_around_9 {
		position: absolute;
		top: 206px;
		right: -16px;
		width: 17px;
		height: 85px;
		border: 1px solid #36373c;
		border-left-color: transparent;
		border-bottom-color: transparent;
	}
	#ev_16 .arrow_right {
		left: initial;
		right: 100%;
	}
	#ev_14 .arrow_top {
		top: initial;
		bottom: 100%;
	}
	#ev_19 .arrow_top {
		top: initial;
		bottom: 100%;
		right: initial;
		left: 40px;
	}
	#ev_19 .arrow_bottom_long {
		bottom: initial;
		top: 100%;
		height: 100px;
		left: 48%;
	}
	#ev_19 .arrow_left {
		right: initial;
		left: 100%;
		width: 8px;
	}
	#ev_3 .arrow_right,
	#ev_7 .arrow_right {
		left: initial;
		right: 100%;
	}
	#ev_1 {
		grid-area: prosv;
	}

	#ev_2 {
		grid-area: romantic;
	}

	#ev_3 {
		grid-area: postmodern;
	}

	#ev_4 {
		grid-area: utsotc;
	}

	#ev_5 {
		grid-area: marx;
	}

	#ev_6 {
		grid-area: oldleft;
	}

	#ev_7 {
		grid-area: avtMarx;
	}

	#ev_8 {
		grid-area: gegel;
	}

	#ev_9 {
		grid-area: anarh;
	}

	#ev_10 {
		grid-area: fabian;
	}

	#ev_11 {
		grid-area: revision;
	}

	#ev_12 {
		grid-area: dotchfil;
	}

	#ev_13 {
		grid-area: lifefil;
	}

	#ev_14 {
		grid-area: evolut;
	}

	#ev_15 {
		grid-area: teologic;
	}

	#ev_16 {
		grid-area: existents;
	}

	#ev_17 {
		grid-area: evangelizm;
	}

	#ev_18 {
		grid-area: psiho;
	}

	#ev_19 {
		grid-area: neomarx;
	}

	#ev_20 {
		grid-area: newleft;
	}

	#ev_21 {
		grid-area: postfil;
	}
	.l_grid_item:nth-child(n) {
		background-image: url("../images/icons/social_vs_christian.png");
	}
	.l_grid_item:nth-child(2),
	.l_grid_item:nth-child(3),
	.l_grid_item:nth-child(6),
	.l_grid_item:nth-child(7),
	.l_grid_item:nth-child(10),
	.l_grid_item:nth-child(11),
	.l_grid_item:nth-child(14),
	.l_grid_item:nth-child(15) {
		background-image: url("../images/icons/social_vs_christian_mono.png");
	}

}
@media (max-width: 768px) {
	#ev_1 {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 5;
	}
	#ev_2 {
		-ms-grid-row: 1;
		-ms-grid-column: 7;
		-ms-grid-column-span: 3;
	}
	#ev_3 {
		-ms-grid-row: 19;
		-ms-grid-column: 1;
		-ms-grid-column-span: 9;
	}
	#ev_4 {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	#ev_5 {
		-ms-grid-row: 5;
		-ms-grid-row-span: 5;
		-ms-grid-column: 1;
	}
	#ev_6 {
		-ms-grid-row: 11;
		-ms-grid-column: 1;
	}
	#ev_7 {
		-ms-grid-row: 13;
		-ms-grid-column: 1;
	}
	#ev_8 {
		-ms-grid-row: 5;
		-ms-grid-column: 3;
		-ms-grid-column-span: 3;
	}
	#ev_9 {
		-ms-grid-row: 5;
		-ms-grid-column: 7;
		-ms-grid-column-span: 3;
	}
	#ev_10 {
		-ms-grid-row: 7;
		-ms-grid-column: 3;
		-ms-grid-column-span: 3;
	}
	#ev_11 {
		-ms-grid-row: 7;
		-ms-grid-column: 7;
		-ms-grid-column-span: 3;
	}
	#ev_12 {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
		-ms-grid-column-span: 5;
	}
	#ev_13 {
		-ms-grid-row: 3;
		-ms-grid-column: 9;
	}
	#ev_14 {
		-ms-grid-row: 9;
		-ms-grid-column: 5;
		-ms-grid-column-span: 5;
	}
	#ev_15 {
		-ms-grid-row: 11;
		-ms-grid-column: 7;
		-ms-grid-column-span: 3;
	}
	#ev_16 {
		-ms-grid-row: 11;
		-ms-grid-column: 5;
	}
	#ev_17 {
		-ms-grid-row: 13;
		-ms-grid-column: 5;
	}
	#ev_18 {
		-ms-grid-row: 13;
		-ms-grid-column: 7;
		-ms-grid-column-span: 3;
	}
	#ev_19 {
		-ms-grid-row: 15;
		-ms-grid-column: 1;
		-ms-grid-column-span: 9;
	}
	#ev_20 {
		-ms-grid-row: 17;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
	#ev_21 {
		-ms-grid-row: 17;
		-ms-grid-column: 7;
		-ms-grid-column-span: 3;
	}
}
@media (max-width: 639px) {
	.l_page .lrp-inner {
		width: calc(100% - 40px);
		margin: auto;
	}
	.l_title {
		width: auto;
		font-size: 38px;
		line-height: 1.2;
	}
	.evolution_title {
		font-size: 32px;
		line-height: 1.2;
		margin-bottom: 20px;
		width: auto;
	}
	.evolution_title, .fingers_title, .ideas_title {
		font-size: 26px;
		line-height: 1.2;
		width: auto;
	}
	.l_grid {
		width: 270px;
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
	}

	.l_finger_img {
		width: 312px;
		height: 360px;
	}
	.l_finger_img svg {
		width: 312px;
		height: 360px;
		margin: auto;
	}

	.l_finger_btn {
		position: absolute;
		background: transparent;
		border: none;
		border-radius: 20px;
		width: 100px;
		height: 30px;
	}
	.l_finger_btn span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.l_finger_btn_1 {
		top: 78px;
		left: 23px;
		-webkit-transform: rotate(71deg);
		-ms-transform: rotate(71deg);
		transform: rotate(71deg);
	}
	.l_finger_btn_1 span {
		-webkit-transform:  translate(-50%, -50%) rotate(-71deg);
		-ms-transform:  translate(-50%, -50%) rotate(-71deg);
		transform:  translate(-50%, -50%) rotate(-71deg);
	}
	.l_finger_btn_2 {
		top: 51px;
		left: 55px;
		height: 40px;
		width: 110px;
		-webkit-transform: rotate(79deg);
		-ms-transform: rotate(79deg);
		transform: rotate(79deg);
	}
	.l_finger_btn_2 span {
		-webkit-transform:  translate(-50%, -50%) rotate(-79deg);
		-ms-transform:  translate(-50%, -50%) rotate(-79deg);
		transform:  translate(-50%, -50%) rotate(-79deg);
	}
	.l_finger_btn_3 {
		top: 42px;
		left: 105px;
		height: 48px;
		width: 114px;
		-webkit-transform: rotate(91deg);
		-ms-transform: rotate(91deg);
		transform: rotate(91deg);
	}
	.l_finger_btn_3 span {
		-webkit-transform:  translate(-50%, -50%) rotate(-91deg);
		-ms-transform:  translate(-50%, -50%) rotate(-91deg);
		transform:  translate(-50%, -50%) rotate(-91deg);
	}
	.l_finger_btn_4 {
		top: 42px;
		left: 167px;
		height: 50px;
		width: 105px;
		-webkit-transform: rotate(105deg);
		-ms-transform: rotate(105deg);
		transform: rotate(105deg);
	}
	.l_finger_btn_4 span {
		-webkit-transform:  translate(-50%, -50%) rotate(-105deg);
		-ms-transform:  translate(-50%, -50%) rotate(-105deg);
		transform:  translate(-50%, -50%) rotate(-105deg);
	}
	.l_finger_btn_5 {
		top: 75px;
		left: 157px;
		height: 55px;
		width: 110px;
		-webkit-transform: rotate(-23deg);
		-ms-transform: rotate(-23deg);
		transform: rotate(-23deg);
	}
	.l_finger_btn_5 span {
		-webkit-transform:  translate(-50%, -50%) rotate(23deg);
		-ms-transform:  translate(-50%, -50%) rotate(23deg);
		transform:  translate(-50%, -50%) rotate(23deg);
	}
	.l_finger_btn:hover  span {
		width: 160px;
		height: 100px;
		font-size: 18px;
		line-height: 1.3;
	}
	.l_main_subtitle {
		font-size: 20px;
		padding-bottom: 18px;
		margin-bottom: 20px !important;
	}
	.lr-intro .intro-content .l_main_title {
		font-size: 36px;
	}
	.l_grid_item:nth-child(n) {
		background-image: url("../images/icons/social_vs_christian.png");
	}
	.l_grid_item:nth-child(2n) {
		background-image: url("../images/icons/social_vs_christian_mono.png");
	}

	.l_page .lr-intro .intro-content
	{
		padding-top: 0;
	}
	.l_page .lr-container
	{
		padding: 0;
	}
	.l_ideas{
		padding: 50px 20px;
	}
	.l_title--ss
	{
		letter-spacing: 2px;
		font-size: 23px;
	}
	p.l_subtitle:not(:last-child), p.l_subtitle
	{
		margin-bottom: 40px;
	}
	.l_grid, .l_grid_item
	{
		width: 100%;
	}
	.l_page .lrp-inner{
		padding-left: 15px;
		padding-right: 15px;
	}
	.evolution_title, .fingers_title, .ideas_title
	{
		font-size: 21px;
	}
	.evolution_text, .fingers_text, .ideas_text
	{
		max-height: 260px;
		padding-bottom: 0;
	}
	.evolution_text p, .fingers_text p, .ideas_text p
	{
		font-size: 16px;
		line-height: 24px;
	}
	.l_popup_dark .lrp-inner::after{
		display: none;
	}
	.l_page .lrp-inner{
		padding-bottom: 20px;
	}
	.l_evolution, .l_representatives_list, .l_fingers, .lr-footer
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	.l_evolution .l_title{
		font-size: 26px;
	}
	.l_page .lrp-inner::after{
		display: none;
	}
	.evolution_text
	{
		max-height: 240px;
		padding-bottom: 0 !important;
		padding-right: 20px;
	}
	.evolution_title{
		padding-bottom: 20px;
	}
	.l_page .lrp-inner
	{
		padding-top: 50px;
	}
	.l_popup_light .evolution_link{
		font-size: 18px;
	}
	.evolution_links
	{
		margin-bottom: 20px;
		font-size: 18px;
	}
	.l_grid_btn{
		font-size: 13px;
	}
	.l_title{
		font-size: 24px;
	}
	.l_page .lr-headsofstate-list .country .country-content .cc-left{
		padding-bottom: 20px;
	}



}
@media (max-width: 450px) {
	.l_side-title {
		width: initial;
		height: initial;
		text-align: center;
	}
	.l_page .lr-headsofstate-list .country .country-content .cc-side .side-heads .head:nth-child(n) {
		margin: 0 auto 20px;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		width: 100%;
		max-width: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.l_page .lr-analysis:before {
		content: none;
	}
	.l_title--ss {
		font-size: 25px;
		line-height: 1.2;
	}
	.l_title {
		font-size: 32px;
	}
}